@font-face {
  font-family: "Gotham Bold";
  src: url("./fonts/Gotham-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Medium";
  src: url("./fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Inter UI";
  src: url("./fonts/Inter-UI-Regular.otf") format("opentype");
}

$title: 'Gotham Bold', Helvetica, sans-serif;
$title-tab: 'Gotham Medium', Helvetica, sans-serif;
$body: 'Inter UI', Helvetica, sans-serif;
$text: #1a1a1a;
$accent: #999ade;
$box: #0d10b1;
$bg: #0004ad;

html {
  background-color: $bg;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $body;
  color: white;
  background-color: $bg;
}

.App {
  a {
    text-decoration: none;
    outline: none;
    color: white;
    &:focus {
      outline: none;
    }
  }

  .cta {
    color: $accent;
  }

  .btn-primary:not(:disabled):not(.disabled):active, button:focus, button:active, .btn:focus,
  .btn:active, .btn-primary:focus, .btn-primary:active {
    outline: none;
    border: none;
  }

  .navbar {
    letter-spacing: .03em;
    margin-top: 12px;
    .navbar-collapse .navbar-nav {
      height: 100vh;
    }
    .navbar-toggler:focus {
      outline: none;
    }
    .navbar-nav {
      margin-top: 3.5em;
    }
    .navbar-brand {
      font-family: $title;
    }

    .mobile-social {
      margin: 0 auto;
      margin-top: 5em;
      margin-left: .75em;
      img {
        margin-right: 1em;
        width: 40px;
      }
    }
  }
  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .9);
  }
  .nav-link {
    font-size: 32px;
    line-height: 42px;
    margin-left: .5em;
    font-family: $title;
  }

  #tab {
    font-size: 14px;
    line-height: 28px;
    color: $accent;
    font-family: $title-tab;
    letter-spacing: 0.03em;
    margin-left: 1em;
  }

  .page-header {
    margin-top: 3em;
    .page-headline {
      margin-top: .5em;
      margin-left: .75em;
      font-size: 40px;
      line-height: 48px;
      font-family: $title;
      .page-title {
        color: white;
      }
      .page-subtitle {
        color: $accent;
      }
    }
  }

  .profile {
    margin-top: 2em;
    .backdrop-profile {
      margin-top: 4em;
      position: absolute;
      -webkit-backface-visibility: hidden;
      -webkit-transform: scale(1);
      transform: scale(1);
      backface-visibility: hidden;
      img {
        width: 320px;
        height: 280px;
      }
    }
    .backdrop-image {
      .self {
        max-width: 85%;
        display: block;
        float: right;
      }
    }
  }

  .about {
    margin-top: 8em;
    margin-bottom: 9em;
    a {
      color: $text;
    }
    .about-text {
      margin-left: 1em;
      margin-right: 1em;
      margin-top: 1em;
      .about-me {
        font-size: 14px;
        line-height: 28px;
        font-family: $body;
        letter-spacing: .03em;
      }
      .btn-primary {
        background-color: white;
        border-color: white;
        color: $text;
        font-family: $title-tab;
        padding: 14px 24px 14px 20px;
        margin-top: 1.5em;
        &:hover {
          background-color: #151515;
          border-color: #151515;
          color: white;
        }
      }
    }
  }

  .services {
    #tab {
      color: $text;
    }
    padding-top: 8em;
    background-color: white;
    color: $text;
    .service-details {
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 3em;
      font-size: 14px;
      line-height: 28px;
      font-family: $body;
      letter-spacing: .01em;
    }
    h1 {
      font-size: 40px;
      line-height: 48px;
      font-family: $title;
      margin-bottom: .75em;
      margin-left: .35em;
      margin-top: .5em;
    }
    h3 {
      font-family: $title;
      margin-left: 2em;
      margin-bottom: .5em;
      margin-top: 1em;
      font-size: 24px;
      line-height: 32px;
    }
    .service-item {
      margin-left: 3.5em;
      margin-right: 2em;
      font-size: 14px;
      line-height: 28px;
      font-family: $body;
    }
    .btn-primary {
      background-color: $box;
      border-color: $box;
      color: white;
      font-family: $title-tab;
      padding: 14px 24px 14px 20px;
      margin-top: 3em;
      margin-left: 3.75em;
    }
    .tab-p {
      margin-top: 12em;
    }
    .work {
      background-color: white;
      color: $text;
    .project-details {
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 3em;
      font-size: 14px;
      line-height: 28px;
      font-family: $body;
      letter-spacing: .01em;
    }
    h3 {
      margin-left: 2.25em;
    }
    .project-xp {
      padding-left: 4em;
      padding-right: 3em;
      padding-bottom: 5em;
      font-size: 14px;
      line-height: 28px;
    }
  }
    .case1 {
      background-color: #f4f4f4;
      padding-top: 3.5em;
      .case1-img {
        padding-right: 0;
        padding-left: 0;
      }
      .case1-col {
        padding-top: 4em;
        padding-left: 3em;
        padding-right: 3em;
        h4, h5 {
          padding-bottom: .25em;
          font-family: $title;
        }
        p {
          font-family: $body;
          font-size: 14px;
          line-height: 28px;
        }
      }
    }
    .case2 {
        a {
          color: $bg;
        }
      padding-top: 3.5em;
      background-color: #f4f4f4;
      .case2-col {
        padding-top: 4em;
        padding-left: 3em;
        padding-right: 3em;
        h4, h5 {
          padding-bottom: .25em;
          font-family: $title;
        }
        p {
          font-family: $body;
          font-size: 14px;
          line-height: 28px;
        }
      }
      .case2-img {
        padding-right: 0;
        padding-left: 0;
        background-color: #f4f4f4;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
    }
    .case3 {
      a {
        color: $bg;
      }
      background-color: #f4f4f4;
      padding-top: 3.5em;
      padding-bottom: 6em;
      color: $text;
      .case3-img {
        padding-right: 0;
        padding-left: 0;
      }
      .case3-col {
        padding-top: 4em;
        padding-left: 3em;
        padding-right: 3em;
        h4, h5 {
          font-family: $title;
          padding-bottom: .25em;
        }
        p {
          font-family: $body;
          font-size: 14px;
          line-height: 28px;
        }
      }
    }
  }

  .footer {
    padding-top: 8em;
    margin-bottom: 4em;
    h1 {
      font-size: 40px;
      line-height: 48px;
      font-family: $title;
      margin-bottom: 1em;
      margin-left: .75em;
      margin-top: .5em;
    }
    .contact-details {
      margin-left: 2em;
      margin-right: 1em;
      margin-top: 3em;
      margin-bottom: 3.5em;
      font-size: 14px;
      line-height: 28px;
      font-family: $body;
      letter-spacing: .03em;
    }
    .btn-primary {
      margin-left: 2em;
      background-color: white;
      border-color: white;
      color: $text;
      font-family: $title-tab;
      padding: 14px 24px 14px 20px;
      margin-top: 0;
    }
  }
  .page-footer {
    margin-bottom: 1em;
    hr {
      height: 1px;
      max-width: 85%;
      background-color: white;
    }
    font-size: 14px;
    line-height: 28px;
    .mobile-social {
      margin: 0 auto;
      margin-top: 2em;
      img {
        margin-right: 1em;
        margin-left: 1em;
        width: 30px;
      }
    }
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .App {
    .navbar {
      letter-spacing: .03em;
      .navbar-collapse .navbar-nav {
        height: 100vh;
      }
      .navbar-toggler:focus {
        outline: none;
      }
      .navbar-nav {
        margin-top: 3em;
      }
      .navbar-brand {
        margin-left: .5em;
      }

      .mobile-social {
        margin: 0 auto;
        margin-top: 3em;
        margin-left: 7.5em;
        img {
          margin-right: 2em;
          width: 40px;
        }
      }
    }
    .navbar-dark .navbar-nav .nav-link {
      color: rgba(255, 255, 255, .9);
    }
    .nav-link {
      font-size: 32px;
      line-height: 32px;
      margin-left: 4em;
    }

    #tab {
      font-size: 16px;
      line-height: 32px;
      color: $accent;
      font-family: $title-tab;
      letter-spacing: 0.03em;
      margin-left: 5em;
    }

    .page-header {
      margin-top: 3em;
      .page-headline {
        margin-top: 0;
        font-size: 40px;
        line-height: 48px;
        font-family: $title;
        margin-left: 2em;
        .page-title {
          color: white;
          margin-top: .5em;
        }
        .page-subtitle {
          color: $accent;
        }
      }
    }

    .profile {
      margin-top: 3em;
      .backdrop-profile {
        margin-top: 4em;
        -webkit-backface-visibility: hidden;
        -webkit-transform: scale(1);
        img {
          width: 600px;
          height: 440px;
        }
      }
        .self {
          max-width: 100%;
          float: right;
        }
      }

    .about {
      margin-top: 12em;
      margin-bottom: 10em;
      margin-left: 4em;
      a {
        color: $text;
      }
      .about-text {
        margin-left: 5em;
        .about-me {
          font-size: 16px;
          line-height: 32px;
          font-family: $body;
          letter-spacing: .05em;
        }
        .btn-primary {
          background-color: white;
          border-color: white;
          color: $text;
          font-family: $title-tab;
          padding: 20px 38px 20px 30px;
          margin-top: 2em;
          &:hover {
            background-color: #151515;
            border-color: #151515;
            color: white;
          }
        }
      }
    }

    .services {
      #tab {
        color: $text;
      }
      padding-top: 10em;
      padding-bottom: 0;
      background-color: white;
      color: $text;
      .service-details {
        margin-left: 8em;
        margin-right: 4em;
        margin-bottom: 1em;
        font-family: 16px;
        line-height: 32px;
        font-family: $body;
        letter-spacing: .025em;
      }
      h1 {
        font-size: 40px;
        line-height: 48px;
        font-family: $title;
        margin-bottom: 1em;
        margin-left: 2em;
      }
      h3 {
        margin-left: 5.75em;
        margin-bottom: 1em;
        font-family: $title;
      }
      .service-items{
        margin-left: 5em;
      }
      .service-item {
        margin-left: 10em;
        margin-bottom: 0;
        line-height: 32px;
        font-family: 16px;
        font-family: $body;
      }
      .btn-primary {
        background-color: $box;
        border-color: $box;
        color: white;
        font-family: $title-tab;
        padding: 20px 38px 20px 30px;
        margin-top: 5em;
        margin-left: 15em;
        &:hover {
          background-color: #151515;
          border-color: #151515;
          color: white;
        }
      }
      .tab-p {
        padding-top: 1.75em;
      }
      .work {
        padding-top: 0;
        background-color: white;
        color: $text;
        h1 {
          font-size: 40px;
          line-height: 48px;
          font-family: $title;
          letter-spacing: initial;
        }
        .project-details {
          margin-left: 10em;
          margin-right: 4em;
          margin-top: 3em;
          margin-bottom: 3em;
          font-family: 16px;
          line-height: 32px;
          font-family: $body;
          letter-spacing: .025em;
        }
        h3 {
          margin-left: 10em;
        }
        .project-xp {
          font-size: 16px;
          line-height: 32px;
          margin-left: 13em;
          margin-right: 0;
          margin-bottom: 1em;
        }
      }
      .case1 {
        background-color: #f4f4f4;
        padding-top: 4em;
        .case1-img {
          padding-right: 0;
          padding-left: 0;
        }
        .case1-col {
          padding-top: 3em;
          padding-left: 6em;
          padding-right: 6em;
          p {
            font-family: $body;
            font-size: 16px;
            line-height: 32px;
          }
        }
      }
      .case2 {
        background-color: #f4f4f4;
        .case2-col {
          padding-top: 3em;
          padding-left: 6em;
          padding-right: 6em;
          p {
            font-family: $body;
            font-size: 16px;
            line-height: 32px;
          }
        }
        .case2-img {
          padding-right: 0;
          padding-left: .75em;
          background-color: #f4f4f4;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
        }
      }
      .case3 {
        background-color: #f4f4f4;
        padding-bottom: 5em;
        .case3-img {
          padding-right: 0;
          padding-left: 0;
        }
        .case3-col {
          padding-top: 3em;
          padding-left: 6em;
          padding-right: 6em;
          p {
            font-family: $body;
            font-size: 16px;
            line-height: 32px;
          }
        }
      }
    }


    .footer {
      padding-top: 8em;
      margin-bottom: 6em;
      h1 {
        margin-left: 2em;
      }
      .contact-details {
        margin-left: 10em;
        margin-right: 4em;
        margin-top: 3em;
        margin-bottom: 3.5em;
        font-family: 16px;
        line-height: 32px;
        font-family: $body;
        letter-spacing: .04em;
      }
      .btn-primary {
        margin-left: 10em;
        background-color: white;
        border-color: white;
        color: $text;
        font-family: $title-tab;
        padding: 14px 24px 14px 20px;
        margin-top: 0;
      }
    }
    .page-footer {
      hr {
        height: 1px;
        max-width: 25%;
        background-color: white;
      }
      .mobile-social {
        margin: 0 auto;
        margin-top: 2em;
        img {
          margin-right: .5em;
          width: 30px;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .App {
    overflow: hidden;

    .navbar {
      letter-spacing: .03em;
      .navbar-collapse .navbar-nav {
        height: 100vh;
      }
      .navbar-toggler:focus {
        outline: none;
      }
      .navbar-nav {
        margin-top: 10em;
      }

      .collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        -webkit-transition: height .5s ease;
        -o-transition: height .5s ease;
           transition: height .5s ease;
      }

      .mobile-social {
        margin: 0 auto;
        margin-top: 6em;
        margin-left: 3.5em;
        img {
          margin-right: 2em;
          width: 40px;
        }
      }
    }
    .navbar-dark .navbar-nav .nav-link {
      color: rgba(255, 255, 255, .9);
    }
    .nav-link {
      font-size: 32px;
      line-height: 46px;
      margin-left: 2em;
    }

    #tab {
      font-size: 16px;
      line-height: 32px;
      color: $accent;
      font-family: $title-tab;
      letter-spacing: 0.03em;
      margin-left: 5em;
    }

    .page-header {
      margin-top: 4em;
      .page-title {
        font-size: 40px;
        line-height: 48px;
        color: $text;
        font-family: $title;
        color: white;
        margin-top: .5em;
        margin-left: 1em;
      }
      .page-subtitle {
        color: $accent;
        font-family: $title;
        font-size: 40px;
        line-height: 48px;
        margin-left: 1em;
      }
    }

    .profile {
      margin-top: 5em;
      .backdrop-profile {
        margin-top: 6em;
        margin-left: 4em;
        -webkit-backface-visibility: hidden;
        -webkit-transform: scale(1);
        img {
          width: 800px;
          height: 400px;
        }
      }
      .backdrop-image {
        .self {
          max-width: 100%;
        }
      }
    }

    .about {
      margin-top: 11em;
      margin-bottom: 10em;
      margin-left: 4em;
      a {
        color: $text;
      }
      .about-text {
        margin-left: 5em;
        .about-me {
          font-size: 16px;
          line-height: 32px;
          font-family: $body;
          letter-spacing: .05em;
        }
        .btn-primary {
          background-color: white;
          border-color: white;
          color: $text;
          font-family: $title-tab;
          padding: 20px 38px 20px 30px;
          margin-top: 2em;
        }
      }
    }

    .services {
      #tab {
        color: $bg;
      }
      padding-top: 10em;
      padding-bottom: 0;
      color: $bg;
      background-color: $bg;
      -webkit-transition: 1200ms linear;
      -ms-transition: 1200ms linear;
      transition: 1200ms linear;
      &:hover {
        background-color: white;
        color: $text;
        -webkit-transition: background-color 1000ms linear;
        -ms-transition: background-color 1000ms linear;
        transition: background-color 1000ms linear;
        #tab {
          color: $text;
        }
        .service-item, .project-xp {
          color: #7c7c7c;
        }
        .work {
          color: $text;
        }
    }
      .service-details {
        margin-left: 10em;
        margin-right: 0;
        margin-bottom: 2em;
        font-family: 16px;
        line-height: 32px;
        font-family: $body;
        letter-spacing: .025em;
      }
      h1 {
        font-size: 40px;
        line-height: 48px;
        font-family: $title;
        margin-bottom: 1em;
        margin-left: 2em;
      }
      h3 {
        margin-left: 5.75em;
        margin-bottom: 1em;
        font-family: $title;
      }
      .service-items{
        margin-left: 5em;
      }
      .service-item {
        margin-left: 10em;
        margin-bottom: 0;
        line-height: 32px;
        font-family: 16px;
        font-family: $body;
      }
      .btn-primary {
        background-color: $box;
        border-color: $box;
        color: white;
        font-family: $title-tab;
        padding: 20px 38px 20px 30px;
        margin-top: 5em;
        margin-left: 15em;
      }
      .tab-p {
        padding-top: 3em;
      }
      .work {
        padding-top: 0;
        color: $bg;
        background-color: inherit;
        h1 {
          font-size: 40px;
          line-height: 48px;
          font-family: $title;
          letter-spacing: initial;
        }
        .project-details {
          margin-left: 10em;
          margin-top: 3em;
          margin-right: 0;
          margin-bottom: 3em;
          font-family: 16px;
          line-height: 32px;
          font-family: $body;
          letter-spacing: .025em;
        }
        h3 {
          margin-left: 10em;
        }
        .project-xp {
          font-size: 16px;
          line-height: 32px;
          margin-left: 13em;
          margin-right: 0;
          margin-bottom: 3em;
        }
      }
      .case1 {
        color: $text;
        background-color: #f4f4f4;
        padding-top: 5em;
        .case1-img {
          padding-right: 0;
          padding-left: 0;
        }
        .case1-col {
          padding-top: 3em;
          padding-left: 8em;
          padding-right: 8em;
          p {
            font-family: $body;
            font-size: 16px;
            line-height: 32px;
          }
        }
      }
      .case2 {
        color: $text;
        background-color: #f4f4f4;
        .case2-col {
          padding-top: 3em;
          padding-left: 8em;
          padding-right: 8em;
          p {
            font-family: $body;
            font-size: 16px;
            line-height: 32px;
          }
        }
        .case2-img {
          padding-right: 0;
          padding-left: 4.2em;
          background-color: #f4f4f4;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
        }
      }
      .case3 {
        color: $text;
        background-color: #f4f4f4;
        padding-bottom: 5em;
        .case3-col {
          padding-top: 3em;
          padding-left: 8em;
          padding-right: 8em;
          p {
            font-family: $body;
            font-size: 16px;
            line-height: 32px;
          }
        }
        .case3-img {
          padding-right: 0;
          padding-left: 0;
        }
      }
    }

    .footer {
      padding-top: 10em;
      margin-bottom: 8em;
      h1 {
        margin-left: 2em;
      }
      .contact-details {
        margin-left: 10em;
        margin-top: 3em;
        margin-right: 0;
        margin-bottom: 3.5em;
        font-family: 16px;
        line-height: 32px;
        font-family: $body;
        letter-spacing: .04em;
      }
      .btn-primary {
        margin-left: 10em;
        background-color: white;
        border-color: white;
        color: $text;
        font-family: $title-tab;
        padding: 14px 24px 14px 20px;
        margin-top: 0;
        &:hover {
          background-color: #151515;
          border-color: #151515;
          color: white;
        }
      }
    }
    .page-footer {
      margin-left: .75em;
      hr {
        display: none;
      }
      .mobile-social {
        margin: 0 auto;
        margin-top: 2em;

        img {
          margin-right: .5em;
          width: 30px;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .App {
    .navbar {
      letter-spacing: .03em;
      background-color: $bg;
      .navbar-collapse .navbar-nav {
        height: 100vh;
      }
      .navbar-toggler:focus {
        outline: none;
      }
      .navbar-nav {
        margin-top: 6em;
        background-color: $bg;
      }

      .mobile-social {
        margin: 0 auto;
        margin-top: 6em;
        margin-left: 5.5em;
        img {
          margin-right: 1.5em;
          width: 40px;
        }
      }
    }
    .navbar-dark .navbar-nav .nav-link {
      color: rgba(255, 255, 255, .9);
      background-color: $bg;
    }
    .nav-link {
      font-size: 48px;
      line-height: 56px;
      margin-left: 2em;
    }

    #tab {
      font-size: 16px;
      line-height: 32px;
      color: $accent;
      font-family: $title-tab;
      letter-spacing: 0.03em;
      margin-left: 7em;
    }

    .page-header {
      margin-top: 9em;
      .page-title {
        font-size: 48px;
        line-height: 56px;
        color: $text;
        font-family: $title;
        color: white;
      }
      .page-subtitle {
        color: $accent;
        font-family: $title;
        font-size: 48px;
        line-height: 56px;
      }
    }

    .profile {
      margin-top: 5em;
      .backdrop-profile {
        margin-top: 3em;
        margin-left: 14em;
        -webkit-backface-visibility: hidden;
        -webkit-transform: scale(1);
        img {
          width: 640px;
          height: 460px;
        }
      }
      .backdrop-image {
        .self {
          max-width: 90%;
        }
      }
    }

    .about {
      margin-top: 14em;
      margin-bottom: 10em;
      #tab {
        margin-left: 2em;
      }
      a {
        color: $text;
      }
      .about-text {
        margin-left: 6em;
        .about-me {
          font-size: 20px;
          line-height: 36px;
          font-family: $body;
          letter-spacing: .025em;
        }
        .btn-primary {
          background-color: white;
          border-color: white;
          color: $text;
          font-family: $title-tab;
          padding: 20px 38px 20px 30px;
          margin-top: 4em;
        }
      }
    }

    .services {
      #tab {
        color: $bg;
      }
      padding-top: 10em;
      padding-bottom: 0;
      color: $bg;
      background-color: $bg;
      -webkit-transition: 1200ms linear;
      -ms-transition: 1200ms linear;
      transition: 1200ms linear;
      &:hover {
          background-color: white;
          color: $text;
          -webkit-transition: background-color 1000ms linear;
          -ms-transition: background-color 1000ms linear;
          transition: background-color 1000ms linear;
          #tab {
            color: $text;
          }
          .service-item, .project-xp {
            color: #7c7c7c;
          }
      }
      .service-details {
        margin-left: 4em;
        margin-right: 4em;
        margin-bottom: 3em;
        font-size: 20px;
        line-height: 36px;
        font-family: $body;
        letter-spacing: .025em;
      }
      h1 {
        font-size: 48px;
        line-height: 56px;
        font-family: $title;
        margin-bottom: 1em;
        margin-left: -.5em;
      }
      h3 {
        margin-left: 3.5em;
        margin-bottom: 1em;
        margin-top: 1em;
        font-family: $title;
        font-size: 24px;
      }
      .service-item {
        margin-left: 6em;
        margin-bottom: 1em;
        font-size: 16px;
        line-height: 32px;
        font-family: $body;
        color: $bg;
      }
      .btn-primary {
        background-color: $box;
        border-color: $box;
        color: white;
        font-family: $title-tab;
        padding: 20px 38px 20px 30px;
        margin-top: 4em;
        margin-left: 5.8em;
      }
      .tab-p {
        padding-top: 1.75em;
      }
      .work {
        padding-top: 10em;
        h1 {
          font-size: 48px;
          line-height: 56px;
          font-family: $title;
          letter-spacing: .02em;
        }
        .project-details {
          margin-left: 4em;
          margin-right: 4em;
          margin-bottom: 3.5em;
          font-size: 20px;
          line-height: 36px;
          font-family: $body;
          letter-spacing: .025em;
        }
        .project-xp {
          font-size: 16px;
          line-height: 32px;
          margin-left: 4.5em;
          margin-right: 5em;
          margin-bottom: 3em;
        }
      }
      .case1 {
        .case1-img {
          padding-top: 6em;
          padding-left: 2em;
        }
      }
      .case2 {
        .case2-img {
          padding-top: 10em;
          padding-right: 2em;
        }
      }
      .case3 {
        padding-bottom: 5em;
        .case3-img {
          padding-top: 6em;
          padding-left: 2em;
        }
      }
    }

    .footer {
      padding-top: 10em;
      margin-bottom: 6em;
      h1 {
        font-size: 48px;
        line-height: 56px;
        margin-left: -.5em;
      }
      .contact-details {
        margin-left: 4em;
        margin-right: 4em;
        margin-top: 3em;
        margin-bottom: 3.5em;
        font-size: 20px;
        line-height: 36px;
        font-family: $body;
        letter-spacing: .025em;
      }
      .btn-primary {
        margin-left: 4.85em;
        background-color: white;
        border-color: white;
        color: $text;
        font-family: $title-tab;
        padding: 14px 24px 14px 20px;
        margin-top: 0;
        &:hover {
          background-color: #151515;
          border-color: #151515;
          color: white;
        }
      }
    }
    .page-footer {
      .mobile-social {
        margin: 0 auto;
        margin-top: 2em;

        img {
          margin-right: 1.5em;
          width: 30px;
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .App {

    .navbar {
      letter-spacing: .03em;
      .navbar-collapse .navbar-nav {
        height: 100vh;
      }
      .navbar-toggler:focus {
        outline: none;
      }
      .navbar-nav {
        margin-top: 10em;
      }
      .navbar-brand {
        margin-left: .5em;
      }

      .mobile-social {
        margin: 0 auto;
        margin-top: 6em;
        margin-left: 11.5em;
        img {
          margin-right: 2em;
          width: 40px;
        }
      }
    }
    .navbar-dark .navbar-nav .nav-link {
      color: rgba(255, 255, 255, .9);
    }
    .nav-link {
      font-size: 48px;
      line-height: 56px;
      margin-left: 4em;
    }

    #tab {
      margin-left: 8em;
    }

    .page-header {
      margin-top: 9em;
      .page-headline {
        margin-left: 1.75em;
      }
      .page-title, .page-subtitle {
        font-size: 48px;
        line-height: 56px;
      }
    }

    .profile {
      margin-top: 5em;
      .backdrop-profile {
        position: absolute;
        margin-top: 4em;
        margin-left: 20em;
        img {
          width: 860px;
          height: 480px;
        }
      }
      .backdrop-image {
        .self {
          max-width: 75%;
        }
      }
    }

    .about {
      margin-top: 16em;
      margin-bottom: 10em;
      #tab {
        margin-left: 3em;
      }
      .about-text {
        margin-left: 6em;
        .about-me {
          line-height: 36px;
          font-size: 20px;
        }
        .btn-primary {
          padding: 20px 38px 20px 30px;
          margin-top: 4em;
        }
      }
    }

    .services {
      #tab {
        color: $bg;
      }
      padding-top: 10em;
      padding-bottom: 0;
      color: $bg;
      background-color: $bg;
      -webkit-transition: 1200ms linear;
      -ms-transition: 1200ms linear;
      transition: 1200ms linear;
      &:hover {
          background-color: white;
          color: $text;
          -webkit-transition: background-color 1000ms linear;
          -ms-transition: background-color 1000ms linear;
          transition: background-color 1000ms linear;
          #tab {
            color: $text;
          }
          .service-item, .project-xp {
            color: #7c7c7c;
          }
      }
      .service-details {
        margin-left: 3.75em;
        margin-right: 6em;
        margin-bottom: 1em;
        line-height: 36px;
        font-size: 20px;
        font-weight: 400;
      }
      h1 {
        font-size: 48px;
        line-height: 56px;
      }
      h3 {
        margin-left: 0;
        font-family: $title;
        font-size: 20px;
      }
      .service-items {
        margin-left: 0;
        margin-top: 5em;
        margin-bottom: 4em;
      }
      .service-item {
        margin-left: 0;
        margin-right: 0;
        color: $bg;
      }
      .btn-primary {
        margin-top: 2em;
        margin-left: 4.85em;
      }
      .tab-p {
        padding-top: 2.75em;
      }
      .work {
        padding-top: 11em;
        h1 {
          font-size: 48px;
          line-height: 56px;
        }
        .project-details {
          margin-left: 3.75em;
          margin-right: 6em;
          margin-top: 1em;
          margin-bottom: 3.5em;
          line-height: 36px;
          font-size: 20px;
          font-weight: 400;
        }
        h3 {
          margin-left: 3.2em;
          font-family: $title;
        }
        .project-xp {
          font-size: 16px;
          line-height: 32px;
          margin-left: 4.5em;
          margin-right: 20em;
          margin-bottom: 4em;
        }
      }
      .case1 {
        padding-top: 5em;
        .case1-col {
          padding-top: 3em;
          padding-left: 6em;
          h4, h5 {
            font-family: $title;
          }
          .client {
            margin: 0;
            padding: 0;
            margin-bottom: .25em;
          }
        }
        .case1-img {
          padding-left: 4em;
          padding-top: 5em;
        }
      }
      .case2 {
        padding-top: 5em;
        a {
          color: $bg;
        }
        .case2-col {
          padding-top: 1em;
          padding-left: 6em;
          h4, h5 {
            font-family: $title;
          }
          .client {
            margin: 0;
            padding: 0;
            margin-bottom: .25em;
          }
        }
        .case2-img {
          padding-right: 4em;
          padding-top: 5em;
        }
      }
      .case3 {
        padding-bottom: 5em;
        .case3-col {
          padding-top: 3em;
          padding-left: 6em;
          h4, h5 {
            font-family: $title;
          }
          .client {
            margin: 0;
            padding: 0;
            margin-bottom: .25em;
          }
        }
        .case3-img {
          padding-left: 4em;
          padding-top: 5em;
        }
      }
    }

    .footer {
      padding-top: 11em;
      margin-bottom: 10em;
      h1 {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: .02em;
        margin-left: -.5em;
      }
      .contact-details {
        margin-left: 3.75em;
        margin-right: 6em;
        line-height: 36px;
        font-size: 20px;
      }
      .btn-primary {
        margin-left: 4.5em;
        background-color: white;
        border-color: white;
        color: $text;
        font-family: $title-tab;
        padding: 14px 24px 14px 20px;
        margin-top: 0;
        &:hover {
          background-color: #151515;
          border-color: #151515;
          color: white;
        }
      }
    }

    .page-footer {
      .mobile-social {
        margin: 0 auto;
        margin-top: 2em;

        img {
          margin-right: .5em;
          width: 30px;
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  .App {

    #tab {
      margin-left: 11em;
    }
    .page-header {
      margin-top: 9em;
      .page-headline {
        margin-left: 1.75em;
      }
      .page-title, .page-subtitle {
        font-size: 64px;
        line-height: 72px;
      }
    }
    .profile {
      margin-top: 7em;
      .backdrop-profile {
        position: absolute;
        margin-top: 8em;
        margin-left: 24em;
        img {
          width: 860px;
          height: 620px;
        }
      }
      .backdrop-image {
        .self {
          max-width: 80%;
        }
      }
    }
    .about {
      margin-top: 20em;
      margin-bottom: 10em;
      #tab {
        margin-left: 6em;
      }
      .about-text {
        margin-left: 10em;
        .about-me {
          line-height: 40px;
          font-size: 24px;
        }
        .btn-primary {
          padding: 20px 38px 20px 30px;
          margin-top: 4em;
        }
      }
    }
    .services {
      #tab {
        color: $bg;
      }
      padding-top: 10em;
      padding-bottom: 0;
      color: $bg;
      background-color: $bg;
      -webkit-transition: 1200ms linear;
      -ms-transition: 1200ms linear;
      transition: 1200ms linear;
      &:hover {
          background-color: white;
          color: $text;
          -webkit-transition: background-color 1000ms linear;
          -ms-transition: background-color 1000ms linear;
          transition: background-color 1000ms linear;
          #tab {
            color: $text;
          }
          .service-item, .project-xp {
            color: #7c7c7c;
          }
      }
      .service-details {
        margin-left: 6em;
        margin-right: 10em;
        margin-bottom: 1em;
        line-height: 40px;
        font-size: 24px;
        font-weight: 400;
      }
      h1 {
        font-size: 64px;
        line-height: 72px;
      }
      h3 {
        margin-left: 0;
        font-family: $title;
        font-size: 24px;
      }
      .service-items {
        margin-left: 1.75em;
      }
      .service-item {
        margin-left: 0;
        margin-right: 0;
        color: $bg;
      }
      .btn-primary {
        margin-top: 2em;
        margin-left: 8.77em;
      }
      .tab-p {
        padding-top: 7em;
      }
      .work {
        padding-top: 15em;
        h1 {
          font-size: 64px;
          line-height: 72px;
        }
        .project-details {
          margin-left: 6em;
          margin-right: 10em;
          margin-top: 1em;
          margin-bottom: 3.5em;
          line-height: 40px;
          font-size: 24px;
          font-weight: 400;
        }
        h3 {
          margin-left: 5.85em;
          font-family: $title;
        }
        .project-xp {
          font-size: 16px;
          line-height: 32px;
          margin-left: 6.5em;
          margin-right: 18em;
          margin-bottom: 5.25em;
        }
      }
      .case1 {
        padding-top: 5em;
        .case1-col {
          padding-top: 3em;
          padding-left: 6em;
          h4, h5 {
            font-family: $title;
          }
          .client {
            margin: 0;
            padding: 0;
            margin-bottom: .25em;
          }
        }
        .case1-img {
          padding-left: 4em;
          padding-top: 0;
        }
      }
      .case2 {
        padding-top: 5em;
        a {
          color: $bg;
        }
        .case2-col {
          padding-top: 1em;
          padding-left: 6em;
          h4, h5 {
            font-family: $title;
          }
          .client {
            margin: 0;
            padding: 0;
            margin-bottom: .25em;
          }
        }
        .case2-img {
          padding-right: 4em;
          padding-top: 0;
        }
      }
      .case3 {
        padding-bottom: 5em;
        .case3-col {
          padding-top: 3em;
          padding-left: 6em;
          h4, h5 {
            font-family: $title;
          }
          .client {
            margin: 0;
            padding: 0;
            margin-bottom: .25em;
          }
        }
        .case3-img {
          padding-left: 4em;
          padding-top: 0;
        }
      }
    }
    .footer {
      padding-top: 15em;
      margin-bottom: 10em;
      h1 {
        font-size: 64px;
        line-height: 72px;
        letter-spacing: .02em;
        margin-left: -.5em;
      }
      .contact-details {
        margin-left: 6em;
        font-size: 24px;
        line-height: 40px;
      }
      .btn-primary {
        margin-left: 8.6em;
        background-color: white;
        border-color: white;
        color: $text;
        font-family: $title-tab;
        padding: 14px 24px 14px 20px;
        margin-top: 1.5em;
        &:hover {
          background-color: #151515;
          border-color: #151515;
          color: white;
        }
      }
    }

    .page-footer {
      .mobile-social {
        margin: 0 auto;
        margin-top: 2em;

        img {
          margin-right: 1em;
          width: 30px;
        }
      }
    }
  }
}
