@font-face {
  font-family: "Gotham Bold";
  src: url("./fonts/Gotham-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/Open-Sans.ttf") format("truetype"); }

@font-face {
  font-family: "Inter UI";
  src: url("./fonts/Inter-UI-Regular.otf") format("opentype"); }

html {
  background-color: black; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: white;
  background-color: black;
  transition: background-color 1s ease; }

.App a {
  text-decoration: none;
  outline: none;
  color: white; }
  .App a:focus {
    outline: none; }

.App .cta {
  color: #999ade; }

.App .btn-primary:not(:disabled):not(.disabled):active, .App button:focus, .App button:active, .App .btn:focus,
.App .btn:active, .App .btn-primary:focus, .App .btn-primary:active {
  outline: none;
  border: none; }

.App .navbar {
  letter-spacing: .03em;
  margin-top: 12px; }
  .App .navbar .navbar-collapse .navbar-nav {
    height: 100vh; }
  .App .navbar .navbar-toggler:focus {
    outline: none; }
  .App .navbar .icon-bar {
    width: 22px;
    height: 2px;
    background-color: #B6B6B6;
    display: block;
    transition: all 0.2s;
    margin-top: 4px; }
  .App .navbar .navbar-toggler {
    border: none;
    background: transparent !important; }
  .App .navbar .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%; }
  .App .navbar .navbar-toggler .middle-bar {
    opacity: 0; }
  .App .navbar .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%; }
  .App .navbar .navbar-toggler.collapsed .top-bar {
    transform: rotate(0); }
  .App .navbar .navbar-toggler.collapsed .middle-bar {
    opacity: 1; }
  .App .navbar .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0); }
  .App .navbar .navbar-nav {
    margin-top: 3.5em; }
  .App .navbar .navbar-brand {
    font-family: "Gotham Bold", Helvetica, sans-serif; }
  .App .navbar .mobile-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .App .navbar .mobile-social a {
      margin: 1rem; }
      .App .navbar .mobile-social a:hover {
        color: #999ade; }

.App .navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9); }

.App .nav-link {
  font-size: 32px;
  line-height: 42px;
  margin-left: .5em;
  font-family: "Gotham Bold", Helvetica, sans-serif; }

.App #tab p {
  font-size: 11px;
  letter-spacing: 3px;
  margin-bottom: 0;
  font-weight: 600; }

.App .page-header {
  margin-top: 3em; }
  .App .page-header #tab {
    position: fixed;
    left: .15em;
    right: 0;
    bottom: 48px;
    z-index: 9999;
    flex-direction: column;
    justify-content: center; }
  .App .page-header .loader {
    height: 1px;
    width: 10%;
    position: fixed;
    bottom: 1em;
    left: .5em;
    overflow: hidden;
    background-color: #f7f7f7;
    transform: rotate(90deg); }
  .App .page-header .loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #999ade;
    animation: loading 2s linear infinite; }

@keyframes loading {
  from {
    left: -200px;
    width: 30%; }
  50% {
    width: 30%; }
  70% {
    width: 70%; }
  80% {
    left: 50%; }
  95% {
    left: 120%; }
  to {
    left: 100%; } }
  .App .page-header .page-headline {
    margin-top: .5em;
    margin-left: .75em;
    font-size: 40px;
    line-height: 48px;
    font-family: "Gotham Bold", Helvetica, sans-serif; }
    .App .page-header .page-headline .page-title {
      color: white; }
    .App .page-header .page-headline .page-subtitle {
      color: #999ade; }

.App .profile {
  margin-top: 2em; }
  .App .profile .backdrop-profile {
    margin-top: 4em;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
    transform: scale(1);
    backface-visibility: hidden; }
    .App .profile .backdrop-profile img {
      width: 320px;
      height: 280px; }
  .App .profile .backdrop-image .self {
    max-width: 85%;
    display: block;
    float: right; }

.App .about {
  margin-top: 8em;
  margin-bottom: 9em;
  margin-left: 0; }
  .App .about a {
    color: #1a1a1a; }
  .App .about .about-text {
    margin-top: 1em; }
    .App .about .about-text .about-me {
      font-size: 14px;
      line-height: 28px;
      font-family: "Open Sans", Helvetica, sans-serif;
      letter-spacing: .03em; }
    .App .about .about-text .btn-primary {
      background-color: white;
      border-color: white;
      color: #1a1a1a;
      font-family: "Open Sans", Helvetica, sans-serif;
      padding: 14px 24px 14px 20px;
      margin-top: 1.5em; }

.App .services {
  padding-top: 6em;
  color: #1a1a1a; }
  .App .services .service-details {
    margin-left: initial;
    margin-right: initial;
    margin-bottom: 3em;
    font-size: 14px;
    line-height: 28px;
    font-family: "Open Sans", Helvetica, sans-serif;
    letter-spacing: .01em; }
  .App .services .inner {
    margin-left: 1em;
    margin-bottom: 5em; }
  .App .services h1 {
    font-size: 40px;
    line-height: 48px;
    font-family: "Gotham Bold", Helvetica, sans-serif;
    margin-bottom: .75em;
    margin-left: 0;
    margin-top: .5em; }
  .App .services h3 {
    font-family: "Gotham Bold", Helvetica, sans-serif;
    margin-left: 2em;
    margin-bottom: .5em;
    margin-top: 1em;
    font-size: 24px;
    line-height: 32px; }
  .App .services .service-item {
    margin-left: 3.5em;
    margin-right: 2em;
    font-size: 14px;
    line-height: 28px;
    font-family: "Open Sans", Helvetica, sans-serif; }
  .App .services .btn-primary {
    background-color: black;
    border-color: black;
    color: white;
    font-family: "Open Sans", Helvetica, sans-serif;
    padding: 14px 24px 14px 20px;
    margin-top: 3em;
    margin-left: 3.75em; }
  .App .services .case1 {
    background-color: #f4f4f4;
    padding-top: 3.5em; }
    .App .services .case1 .case1-img {
      padding-right: 0;
      padding-left: 0; }
    .App .services .case1 .case1-col {
      padding-top: 4em;
      padding-left: 3em;
      padding-right: 3em; }
      .App .services .case1 .case1-col h4, .App .services .case1 .case1-col h5 {
        padding-bottom: .25em;
        font-family: "Gotham Bold", Helvetica, sans-serif; }
      .App .services .case1 .case1-col p {
        font-family: "Open Sans", Helvetica, sans-serif;
        font-size: 14px;
        line-height: 28px; }
  .App .services .case2 {
    padding-top: 3.5em;
    background-color: #f4f4f4; }
    .App .services .case2 a {
      color: black; }
    .App .services .case2 .case2-col {
      padding-top: 4em;
      padding-left: 3em;
      padding-right: 3em; }
      .App .services .case2 .case2-col h4, .App .services .case2 .case2-col h5 {
        padding-bottom: .25em;
        font-family: "Gotham Bold", Helvetica, sans-serif; }
      .App .services .case2 .case2-col p {
        font-family: "Open Sans", Helvetica, sans-serif;
        font-size: 14px;
        line-height: 28px; }
    .App .services .case2 .case2-img {
      padding-right: 0;
      padding-left: 0;
      background-color: #f4f4f4;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .App .services .case3 {
    background-color: #f4f4f4;
    padding-top: 3.5em;
    padding-bottom: 6em;
    color: #1a1a1a; }
    .App .services .case3 a {
      color: black; }
    .App .services .case3 .case3-img {
      padding-right: 0;
      padding-left: 0; }
    .App .services .case3 .case3-col {
      padding-top: 4em;
      padding-left: 3em;
      padding-right: 3em; }
      .App .services .case3 .case3-col h4, .App .services .case3 .case3-col h5 {
        font-family: "Gotham Bold", Helvetica, sans-serif;
        padding-bottom: .25em; }
      .App .services .case3 .case3-col p {
        font-family: "Open Sans", Helvetica, sans-serif;
        font-size: 14px;
        line-height: 28px; }

.App .footer {
  padding-top: 6em;
  margin-bottom: 4em; }
  .App .footer .inner {
    margin-left: 1em; }
  .App .footer h1 {
    font-size: 40px;
    line-height: 48px;
    font-family: "Gotham Bold", Helvetica, sans-serif;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: .5em; }
  .App .footer .contact-details {
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    margin-bottom: 3.5em;
    font-size: 14px;
    line-height: 28px;
    font-family: "Open Sans", Helvetica, sans-serif;
    letter-spacing: .03em; }
  .App .footer .btn-primary {
    margin-left: 0;
    background-color: white;
    border-color: white;
    color: #1a1a1a;
    font-family: "Open Sans", Helvetica, sans-serif;
    padding: 14px 24px 14px 20px;
    margin-top: 0; }

.App .page-footer {
  margin-bottom: 6em;
  font-size: 14px;
  line-height: 28px; }
  .App .page-footer .mobile-social {
    margin: 0 auto;
    margin-top: 2em; }
    .App .page-footer .mobile-social a {
      margin-right: 1em;
      margin-left: 1em; }
      .App .page-footer .mobile-social a:hover {
        color: #999ade; }

@media (min-width: 576px) {
  .App .navbar {
    letter-spacing: .03em; }
    .App .navbar .navbar-collapse .navbar-nav {
      height: 100vh; }
    .App .navbar .navbar-toggler:focus {
      outline: none; }
    .App .navbar .navbar-nav {
      margin-top: 3em; }
    .App .navbar .navbar-brand {
      margin-left: .5em; }
    .App .navbar .mobile-social {
      margin: 0 auto;
      margin-top: 3em;
      margin-left: 7.5em; }
  .App .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9); }
  .App .nav-link {
    font-size: 32px;
    line-height: 32px;
    margin-left: 4em; }
    .App .nav-link:hover {
      color: gold; }
  .App #tab p {
    font-size: 11px;
    letter-spacing: 3px;
    margin-bottom: 0;
    font-weight: 600; }
  .App .page-header {
    margin-top: 3em; }
    .App .page-header #tab {
      position: fixed;
      left: -.75em;
      right: 0;
      bottom: 61px;
      z-index: 9999;
      flex-direction: column;
      justify-content: center; }
    .App .page-header .loader {
      height: 1px;
      width: 5%;
      position: fixed;
      bottom: 2em;
      left: 1.15em;
      overflow: hidden;
      background-color: #f7f7f7;
      transform: rotate(90deg); }
    .App .page-header .loader:before {
      display: block;
      position: absolute;
      content: "";
      left: -200px;
      width: 200px;
      height: 4px;
      background-color: #999ade;
      animation: loading 2s linear infinite; }
  @keyframes loading {
    from {
      left: -200px;
      width: 30%; }
    50% {
      width: 30%; }
    70% {
      width: 70%; }
    80% {
      left: 50%; }
    95% {
      left: 120%; }
    to {
      left: 100%; } }
    .App .page-header .page-headline {
      margin-top: 0;
      margin-left: 2em; }
    .App .page-header .page-title {
      color: #1a1a1a; }
    .App .page-header .page-subtitle {
      color: #999ade; }
    .App .page-header .page-title, .App .page-header .page-subtitle {
      font-family: "Gotham Bold", Helvetica, sans-serif;
      font-size: 60px;
      line-height: 80px; }
  .App .profile {
    margin-top: 3em; }
    .App .profile .backdrop-profile {
      margin-top: 4em;
      -webkit-backface-visibility: hidden;
      -webkit-transform: scale(1); }
      .App .profile .backdrop-profile img {
        width: 600px;
        height: 440px; }
    .App .profile .self {
      max-width: 100%;
      float: right; }
  .App .about {
    margin-top: 12em;
    margin-bottom: 7em;
    margin-left: 0; }
    .App .about a {
      color: #1a1a1a; }
    .App .about .about-text {
      margin-left: 5em; }
      .App .about .about-text .about-me {
        font-size: 16px;
        line-height: 32px;
        font-family: "Open Sans", Helvetica, sans-serif;
        letter-spacing: .05em; }
      .App .about .about-text .btn-primary {
        background-color: white;
        border-color: white;
        color: #1a1a1a;
        font-family: "Open Sans", Helvetica, sans-serif;
        padding: 20px 38px 20px 30px;
        margin-top: 2em; }
  .App .services {
    padding-top: 5em;
    padding-bottom: 0;
    background-color: white;
    color: #1a1a1a; }
    .App .services .service-details {
      margin-left: initial;
      margin-right: initial;
      margin-bottom: 1em;
      font-size: 16px;
      line-height: 32px;
      font-family: "Open Sans", Helvetica, sans-serif;
      letter-spacing: .025em; }
    .App .services .inner {
      margin-left: 2em;
      margin-bottom: 5em; }
    .App .services h1 {
      font-size: 40px;
      line-height: 48px;
      font-family: "Gotham Bold", Helvetica, sans-serif;
      margin-bottom: 1em;
      margin-left: 0; }
    .App .services h3 {
      margin-left: 0;
      margin-bottom: 1em;
      font-family: "Gotham Bold", Helvetica, sans-serif; }
    .App .services .service-items {
      margin-left: 0; }
    .App .services .service-item {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
      line-height: 32px;
      font-family: 16px;
      font-family: "Open Sans", Helvetica, sans-serif;
      color: black; }
    .App .services .btn-primary {
      background-color: black;
      color: white;
      font-family: "Open Sans", Helvetica, sans-serif;
      padding: 20px 38px 20px 30px;
      margin-top: 5em;
      margin-left: 0; }
    .App .services .case1 {
      background-color: #f4f4f4;
      padding-top: 4em; }
      .App .services .case1 .case1-img {
        padding-right: 0;
        padding-left: 0; }
      .App .services .case1 .case1-col {
        padding-top: 3em;
        padding-left: 6em;
        padding-right: 6em; }
        .App .services .case1 .case1-col p {
          font-family: "Open Sans", Helvetica, sans-serif;
          font-size: 16px;
          line-height: 32px; }
    .App .services .case2 {
      background-color: #f4f4f4; }
      .App .services .case2 .case2-col {
        padding-top: 3em;
        padding-left: 6em;
        padding-right: 6em; }
        .App .services .case2 .case2-col p {
          font-family: "Open Sans", Helvetica, sans-serif;
          font-size: 16px;
          line-height: 32px; }
      .App .services .case2 .case2-img {
        padding-right: 0;
        padding-left: .75em;
        background-color: #f4f4f4;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
    .App .services .case3 {
      background-color: #f4f4f4;
      padding-bottom: 5em; }
      .App .services .case3 .case3-img {
        padding-right: 0;
        padding-left: 0; }
      .App .services .case3 .case3-col {
        padding-top: 3em;
        padding-left: 6em;
        padding-right: 6em; }
        .App .services .case3 .case3-col p {
          font-family: "Open Sans", Helvetica, sans-serif;
          font-size: 16px;
          line-height: 32px; }
  .App .footer {
    padding-top: 8em;
    margin-bottom: 6em; }
    .App .footer .inner {
      margin-left: 2em; }
    .App .footer h1 {
      margin-left: 0; }
    .App .footer .contact-details {
      margin-left: 0;
      margin-right: 0;
      margin-top: 3em;
      margin-bottom: 3.5em;
      font-family: 16px;
      line-height: 32px;
      font-family: "Open Sans", Helvetica, sans-serif;
      letter-spacing: .04em; }
    .App .footer .btn-primary {
      margin-left: 0;
      background-color: white;
      border-color: white;
      color: #1a1a1a;
      font-family: "Open Sans", Helvetica, sans-serif;
      padding: 14px 24px 14px 20px;
      margin-top: 0; }
  .App .page-footer .mobile-social {
    margin: 0 auto;
    margin-top: 2em; }
    .App .page-footer .mobile-social a {
      margin-right: .5em;
      width: 30px; } }

@media (min-width: 768px) {
  .App {
    overflow: hidden; }
    .App .navbar {
      letter-spacing: .03em; }
      .App .navbar .navbar-collapse .navbar-nav {
        height: 100vh; }
      .App .navbar .navbar-toggler:focus {
        outline: none; }
      .App .navbar .navbar-nav {
        margin-top: 10em; }
      .App .navbar .collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        -webkit-transition: height .5s ease;
        -o-transition: height .5s ease;
        transition: height .5s ease; }
      .App .navbar .mobile-social {
        margin: 0 auto;
        margin-top: 6em;
        margin-left: 3.5em; }
        .App .navbar .mobile-social img {
          margin-right: 2em;
          width: 40px; }
    .App .navbar-dark .navbar-nav .nav-link {
      color: rgba(255, 255, 255, 0.9); }
    .App .nav-link {
      font-size: 32px;
      line-height: 46px;
      margin-left: 2em; }
      .App .nav-link:hover {
        color: gold; }
    .App #tab p {
      font-size: 11px;
      letter-spacing: 3px;
      margin-bottom: 0;
      font-weight: 600; }
    .App .page-header {
      margin-top: 4em; }
      .App .page-header #tab {
        left: .5em; }
      .App .page-header .page-headline {
        margin-left: 2.5em; }
    .App .profile {
      margin-top: 5em; }
      .App .profile .backdrop-profile {
        margin-top: 6em;
        margin-left: 4em;
        -webkit-backface-visibility: hidden;
        -webkit-transform: scale(1); }
        .App .profile .backdrop-profile img {
          width: 800px;
          height: 400px; }
      .App .profile .backdrop-image .self {
        max-width: 100%; }
    .App .about {
      margin-top: 11em;
      margin-bottom: 10em; }
    .App .services {
      padding-top: 10em; }
      .App .services .service-details {
        margin-bottom: 2em; }
      .App .services .inner {
        margin-left: 6em;
        margin-bottom: 10em; }
      .App .services .btn-primary:hover {
        background-color: transparent;
        color: black; }
      .App .services .case1 {
        color: #1a1a1a;
        background-color: #f4f4f4;
        padding-top: 5em; }
        .App .services .case1 .case1-img {
          padding-right: 0;
          padding-left: 0; }
        .App .services .case1 .case1-col {
          padding-top: 3em;
          padding-left: 8.5em;
          padding-right: 8em; }
          .App .services .case1 .case1-col p {
            font-family: "Open Sans", Helvetica, sans-serif;
            font-size: 16px;
            line-height: 32px; }
      .App .services .case2 {
        color: #1a1a1a;
        background-color: #f4f4f4; }
        .App .services .case2 .case2-col {
          padding-top: 3em;
          padding-left: 8em;
          padding-right: 8em; }
          .App .services .case2 .case2-col p {
            font-family: "Open Sans", Helvetica, sans-serif;
            font-size: 16px;
            line-height: 32px; }
        .App .services .case2 .case2-img {
          padding-right: 0;
          background-color: #f4f4f4;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1); }
      .App .services .case3 {
        color: #1a1a1a;
        background-color: #f4f4f4;
        padding-bottom: 5em; }
        .App .services .case3 .case3-col {
          padding-top: 3em;
          padding-left: 8em;
          padding-right: 8em; }
          .App .services .case3 .case3-col p {
            font-family: "Open Sans", Helvetica, sans-serif;
            font-size: 16px;
            line-height: 32px; }
        .App .services .case3 .case3-img {
          padding-right: 0;
          padding-left: 0; }
    .App .footer {
      padding-top: 10em;
      margin-bottom: 8em; }
      .App .footer .inner {
        margin-left: 6em; }
      .App .footer .btn-primary:hover {
        background-color: #151515;
        border-color: #151515;
        color: white; }
    .App .page-footer .mobile-social {
      margin: 0 auto;
      margin-top: 2em; }
      .App .page-footer .mobile-social a {
        margin-right: .5em;
        width: 30px; } }

@media (min-width: 992px) {
  .App .navbar {
    letter-spacing: .03em;
    background-color: black; }
    .App .navbar .navbar-collapse .navbar-nav {
      height: 100vh; }
    .App .navbar .navbar-toggler:focus {
      outline: none; }
    .App .navbar .navbar-nav {
      margin-top: 6em;
      background-color: black; }
    .App .navbar .mobile-social {
      margin: 0 auto;
      margin-top: 6em;
      margin-left: 5.5em; }
      .App .navbar .mobile-social img {
        margin-right: 1.5em;
        width: 40px; }
  .App .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9);
    background-color: black; }
  .App .nav-link {
    font-size: 48px;
    line-height: 56px;
    margin-left: 2em; }
    .App .nav-link:hover {
      color: gold; }
  .App #tab p {
    font-size: 11px;
    letter-spacing: 3px;
    margin-bottom: 0;
    font-weight: 600; }
  .App .page-header {
    margin-top: 9em; }
    .App .page-header #tab {
      left: 1em;
      bottom: 72px; }
    .App .page-header .page-title, .App .page-header .page-subtitle {
      font-size: 80px;
      line-height: 100px; }
  .App .profile .backdrop-profile {
    margin-top: 3em;
    margin-left: 14em; }
    .App .profile .backdrop-profile img {
      width: 640px;
      height: 460px; }
  .App .profile .backdrop-image .self {
    max-width: 90%; }
  .App .about {
    margin-top: 14em; }
    .App .about .about-text {
      margin-left: 6em; }
      .App .about .about-text .about-me {
        font-size: 20px;
        line-height: 36px;
        letter-spacing: .025em; }
      .App .about .about-text .btn-primary {
        margin-top: 4em; }
        .App .about .about-text .btn-primary:hover {
          background-color: #151515;
          border-color: #151515;
          color: white; }
  .App .services .service-details {
    margin-bottom: 3em;
    font-size: 20px;
    line-height: 36px; }
  .App .services .inner {
    margin-left: 14.75em;
    margin-bottom: 10em; }
  .App .services h1 {
    font-size: 48px;
    line-height: 56px; }
  .App .services h3 {
    margin-top: 1em;
    font-size: 24px; }
  .App .services .service-items {
    margin-top: 5em;
    margin-bottom: 4em; }
  .App .services .service-item {
    margin-bottom: 1em; }
  .App .services .btn-primary {
    margin-top: 4em; }
  .App .services .case1 .case1-img {
    padding-top: 6em;
    padding-left: 2em; }
  .App .services .case2 .case2-img {
    padding-top: 10em;
    padding-right: 2em; }
  .App .services .case3 {
    padding-bottom: 5em; }
    .App .services .case3 .case3-img {
      padding-top: 6em;
      padding-left: 2em; }
  .App .footer {
    margin-bottom: 6em; }
    .App .footer .inner {
      margin-left: 14.75em; }
    .App .footer h1 {
      font-size: 48px;
      line-height: 56px; }
    .App .footer .contact-details {
      margin-right: 6em;
      font-size: 20px;
      line-height: 36px;
      letter-spacing: .025em; }
  .App .page-footer .mobile-social a {
    margin-right: 1.5em; } }

@media (min-width: 1200px) {
  .App .navbar {
    letter-spacing: .03em; }
    .App .navbar .navbar-collapse .navbar-nav {
      height: 100vh; }
    .App .navbar .navbar-toggler:focus {
      outline: none; }
    .App .navbar .navbar-nav {
      margin-top: 10em; }
    .App .navbar .navbar-brand {
      margin-left: .5em; }
    .App .navbar .mobile-social {
      margin: 0 auto;
      margin-top: 6em;
      margin-left: 11.5em; }
      .App .navbar .mobile-social img {
        margin-right: 2em;
        width: 40px; }
  .App .nav-link {
    margin-left: 4em; }
    .App .nav-link:hover {
      color: gold; }
  .App #tab p {
    font-size: 11px;
    letter-spacing: 3px;
    margin-bottom: 0;
    font-weight: 600; }
  .App .page-header {
    margin-top: 10em; }
    .App .page-header #tab {
      left: 1.15em;
      bottom: 61px; }
    .App .page-header .loader {
      bottom: 0; }
    .App .page-header .page-title, .App .page-header .page-subtitle {
      font-size: 90px;
      line-height: 110px; }
  .App .profile .backdrop-profile {
    position: absolute;
    margin-top: 4em;
    margin-left: 20em; }
    .App .profile .backdrop-profile img {
      width: 860px;
      height: 480px; }
  .App .profile .backdrop-image .self {
    max-width: 75%; }
  .App .about {
    margin-top: 16em; }
  .App .services .service-details {
    margin-bottom: 1em;
    font-weight: 400; }
  .App .services h3 {
    font-size: 20px; }
  .App .services .service-items {
    margin-left: 0;
    margin-top: 5em;
    margin-bottom: 4em; }
  .App .services .btn-primary {
    margin-top: 2em; }
  .App .services .case1 {
    padding-top: 5em; }
    .App .services .case1 .case1-col {
      padding-top: 3em;
      padding-left: 6em; }
      .App .services .case1 .case1-col h4, .App .services .case1 .case1-col h5 {
        font-family: "Gotham Bold", Helvetica, sans-serif; }
      .App .services .case1 .case1-col .client {
        margin: 0;
        padding: 0;
        margin-bottom: .25em; }
    .App .services .case1 .case1-img {
      padding-left: 4em;
      padding-top: 5em; }
  .App .services .case2 {
    padding-top: 5em; }
    .App .services .case2 a {
      color: black; }
    .App .services .case2 .case2-col {
      padding-top: 1em;
      padding-left: 6em; }
      .App .services .case2 .case2-col h4, .App .services .case2 .case2-col h5 {
        font-family: "Gotham Bold", Helvetica, sans-serif; }
      .App .services .case2 .case2-col .client {
        margin: 0;
        padding: 0;
        margin-bottom: .25em; }
    .App .services .case2 .case2-img {
      padding-right: 4em;
      padding-top: 5em; }
  .App .services .case3 {
    padding-bottom: 5em; }
    .App .services .case3 .case3-col {
      padding-top: 3em;
      padding-left: 6em; }
      .App .services .case3 .case3-col h4, .App .services .case3 .case3-col h5 {
        font-family: "Gotham Bold", Helvetica, sans-serif; }
      .App .services .case3 .case3-col .client {
        margin: 0;
        padding: 0;
        margin-bottom: .25em; }
    .App .services .case3 .case3-img {
      padding-left: 4em;
      padding-top: 5em; }
  .App .footer {
    padding-top: 11em;
    margin-bottom: 10em; }
    .App .footer h1 {
      letter-spacing: .02em; }
    .App .footer .contact-details {
      margin-right: 7em; }
  .App .page-footer .mobile-social {
    margin: 0 auto;
    margin-top: 2em; }
    .App .page-footer .mobile-social a {
      margin-right: .5em;
      width: 30px; } }

@media (min-width: 1300px) {
  .App .page-header {
    margin-top: 12em; }
  .App .profile {
    margin-top: 7em; }
    .App .profile .backdrop-profile {
      margin-top: 8em;
      margin-left: 24em; }
      .App .profile .backdrop-profile img {
        width: 860px;
        height: 620px; }
    .App .profile .backdrop-image .self {
      max-width: 80%; }
  .App .about {
    margin-top: 20em; }
    .App .about .about-text {
      margin-left: 10em; }
      .App .about .about-text .about-me {
        line-height: 40px;
        font-size: 24px; }
  .App .services .service-details {
    line-height: 40px;
    font-size: 24px; }
  .App .services h1 {
    font-size: 64px;
    line-height: 72px; }
  .App .services h3 {
    font-size: 24px; }
  .App .services .btn-primary {
    margin-top: 2em; }
  .App .services .case1 {
    padding-top: 5em; }
    .App .services .case1 .case1-col {
      padding-top: 3em;
      padding-left: 6em; }
      .App .services .case1 .case1-col h4, .App .services .case1 .case1-col h5 {
        font-family: "Gotham Bold", Helvetica, sans-serif; }
      .App .services .case1 .case1-col .client {
        margin: 0;
        padding: 0;
        margin-bottom: .25em; }
    .App .services .case1 .case1-img {
      padding-left: 4em;
      padding-top: 0; }
  .App .services .case2 {
    padding-top: 5em; }
    .App .services .case2 a {
      color: black; }
    .App .services .case2 .case2-col {
      padding-top: 1em;
      padding-left: 6em; }
      .App .services .case2 .case2-col h4, .App .services .case2 .case2-col h5 {
        font-family: "Gotham Bold", Helvetica, sans-serif; }
      .App .services .case2 .case2-col .client {
        margin: 0;
        padding: 0;
        margin-bottom: .25em; }
    .App .services .case2 .case2-img {
      padding-right: 4em;
      padding-top: 0; }
  .App .services .case3 {
    padding-bottom: 5em; }
    .App .services .case3 .case3-col {
      padding-top: 3em;
      padding-left: 6em; }
      .App .services .case3 .case3-col h4, .App .services .case3 .case3-col h5 {
        font-family: "Gotham Bold", Helvetica, sans-serif; }
      .App .services .case3 .case3-col .client {
        margin: 0;
        padding: 0;
        margin-bottom: .25em; }
    .App .services .case3 .case3-img {
      padding-left: 4em;
      padding-top: 0; }
  .App .footer {
    padding-top: 15em;
    margin-bottom: 10em; }
    .App .footer h1 {
      font-size: 64px;
      line-height: 72px;
      letter-spacing: .02em; }
    .App .footer .contact-details {
      font-size: 24px;
      line-height: 40px; }
    .App .footer .btn-primary {
      margin-top: 1.5em; }
  .App .page-footer .mobile-social {
    margin: 0 auto;
    margin-top: 2em; }
    .App .page-footer .mobile-social a {
      margin-right: 1em;
      width: 30px; } }

@media (min-width: 1500px) {
  .App .page-header .loader {
    left: 0.5rem; } }
